@media (min-width: 544px) {
  body {
    margin: 20px 10px
  }
}

@media (min-width: 768px) {
  body {
    margin: 40px 30px
  }
}

@media (min-width: 992px) {
  body {
    margin: 70px 60px
  }
}

@media (min-width: 1200px) {
  body {
    margin: 120px 100px
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

h1 {
  padding-bottom: .3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

h2 {
  padding-bottom: .3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  color: #777;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

table {
  border: 1px solid #e1e1e1;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

caption {
  text-align: left;
}

thead {
  background-color: #f5f5f5;
}

th,
td {
  border: 1px solid #e1e1e1;
  padding: 8px;
}

th {
  padding: 15px;
  font-weight: 500;
}

.default {
  background-color: #ffffff;
  /* #ccc */
  color: #373A3E;
}
.primary {
  background-color: #43a7fd;
  /* #0275d8 */
  color: #fff;
}
.success {
  background-color: #a3d7a3;
  /* #5cb85c */
  color: #fff;
}
.info {
  background-color: #b0e1ef;
  /* #5bc0de */
  color: #fff;
}
.warning {
  background-color: #f8d9ac;
  /* #f0ad4e */
  color: #fff;
}
.danger {
  background-color: #eba5a3;
  /* #d9534f */
  color: #fff;
}

.nowrap th,
.nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
  min-width: 50px !important;
}

.danger {
  font-size: 20px;
  line-height: 2;
}
